<br>
<br>
<h2>The Team behind, DJs Tracks, would like to take this moment to apologise for not having the profile working.</h2>
<br>
<h3>For the last four weeks We (I) have been struggling with..... everything related to the 'ruby' lessons.  However the rest of the team, would be happy to answer your questions.  However I am sorry to say they couldn't make it as, we weren't given an assigned time slut/slot.
Any questions, please send an email to MichaelPavling@Ga.Com </h3>
<br>
<br>
<br>
<br>
<h4>I have been studying Web development for the last 5 weeks.... give me some credit,</h4> 
<h3>pleeeeaaasse</h3>
<footer> Drinks will be provided if you keep your questions to a minimum</footer>

Many thanks.